.ItemContainer {
    width: auto;
    margin: auto;
    margin-bottom: 24px;
    background-color: lightslategrey;
    -webkit-box-shadow: 17px 18px 18px 3px rgba(36, 36, 36, 1);
    -moz-box-shadow: 17px 18px 18px 3px rgba(36, 36, 36, 1);
    box-shadow: 17px 18px 18px 3px rgba(36, 36, 36, 1);
    border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    border: 0px solid #000000;
    height: 70vh;
    display: flex;
}

.ImageContainer {
    height: 100%;
    flex: 1;
}

.MapContainer {
    height: 400px;
    width: 30%;
    flex: 1;
}

.FeedItem {
    height: 85%;
    display: block;
    margin-left: 20px;
}

.FeedItemFooter {
    padding-top: 30px;
}

.FeedItemTitle {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
}
