.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: white;
}

.Toolbar nav {
    height: 100%;
}

.logo {
    float: left;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.logo span {
    color: #5379fa !important;
}
